---
---

@charset "utf-8";
@import "minimal-mistakes";

/* ==========================================================================
   CUSTOM CSS
   ========================================================================== */

/* 1. 메인 화면 타이틀 숨김 */
.layout--home .page__title {
  display: none !important;
}

/* 2. 글 목록 제목 크기 조정 */
.archive__item-title {
  font-size: 1.15rem !important;
  font-weight: 700;
  letter-spacing: -0.025em;
}

/* 3. 사이드바 폰트 조정 */
.nav__list .nav__items {
  font-size: 0.95rem;
}

/* 4. 요약글 간격 조정 */
.archive__item-teaser {
  font-size: 0.9rem;
  margin-top: 0.2em;
  margin-bottom: 1em;
}